body{
    display:flex;
    background-image: url(https://www.teahub.io/photos/full/0-1684_cute-pixel-art-background.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow:hidden;
}

h2{
    font-size: 2.5em;
    font-family: "Gloria Hallelujah", monospace;
    margin-top: 0;
    margin-bottom: 0;
}

h3{
    font-size: 2em;
    font-family: monospace;
}

.container{
    width: 400px;
    height: 400px;
    text-align: center;
    border: solid black 2px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(246, 198, 217, 0.87);
    border-radius: 2%;
    box-shadow: 3px 3px 26px 1px rgba(0, 0, 0, 0.94);
}

.entry-text{
    display:flex;
    flex-flow: column wrap;
    justify-items: center;
    font-size:x-large;
    font-family: monospace;
}

.text-box{
    margin-right: 30px;
    margin-left: 30px;
    border: 1px dotted;
    background-color: rgba(255, 255, 255, 0.0);
}

#submit{
    background-color: rgba(255, 255, 255, 0.363);
    border: 1px dotted;
    color: black;
    padding: 5px 20px;
    margin-top: 20px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
}

#submit:hover{
    background-color: rgb(138,138,136);
    color: black;
}




